name: Zig Build CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Zig
      uses: mlugg/setup-zig@v1
      with:
        version: 0.13.0


    - name: Build Firmware
      run: |
        zig build-exe src/main.zig -target avr-freestanding -mcpu atmega328p

    - name: Archive artifacts
      uses: actions/upload-artifact@v4
      with:
        name: firmware-elf
        path: main.elf


